:root{
  --primary-color: #3C91E6;
  --secondary: #f8fcfe;
  --black: #141414;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.517);
}

*{
  font-family: 'Times New Roman', Times, serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  /* text-transform:capitalize; */
  transition: all .2s linear;
  
}

html{
  font-size: 100%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: 1rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--primary-color);
}

section{
  padding: 5rem 7%;
  border: 1px solid var(--primary-color);
  border-radius: 1%;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
}


@media (max-width:450px){
  html{
    font-size: 50%;
  }
}

